*.o
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.h*
config.log
config.status
configure
depcomp
install-sh
missing
.deps
stamp-h1
mokomaze
mokomaze-*.tar.gz
fin.png
close*.png
reset*.png
next*.png
prev*.png
mokomaze.png
mokomaze.svg
background.svg
data/ball.svg
data/close-main.svg
data/next-grey.svg
data/next-light.svg
data/next-main.svg
data/prev-grey.svg
data/prev-light.svg
data/prev-main.svg
data/settings-main.svg

