[Desktop Entry]
Name=Mokomaze
Comment=Ball-in-a-labyrinth game
Type=Application
Exec=mokomaze
Terminal=false
Categories=Game;
X-MB-SingleInstance=true
Icon=mokomaze
Keywords=rolling;ball;maze;labyrinth;holes;obstacles;puzzle;
