[Desktop Entry]
Name=Mokomaze
Comment=Ball-in-the-labyrinth game
Encoding=UTF-8
Version=0.5
Type=Application
Exec=mokomaze
Terminal=false
Categories=Game;
X-MB-SingleInstance=true
Icon=mokomaze
